# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\PROJETO INTERDISCIPLINAR\MeuProjeto\ProjetoInterdisciplinar\ProjInterdisciplinar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
